@charset "utf-8";
/* CSS Document */


/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 768px) {

#slogan .slogan-medium{display:none}
#slogan .slogan-large{display:inline-block; margin-top:21px}
#logo{margin: 1.5em 0; }

#side_col_left{width: 70%}
#side_col_right{width: 30%}

.footer-company{text-align:left; margin-top: 0}

#phplive_btn_1470770952{
	position: fixed;
	display: block;
	bottom: 5px;
	right: 25px;
}
#phplive_btn_1470770952:hover{
	bottom: 8px;
}


}