Redirect 301 /articles/budget-and-goals/3-secrets-to-making-personal-finance-work-for-you.php /articles/budget-and-goals/3-secrets-to-making-personal-finance-work-for-you
Redirect 301 /articles/budget-and-goals/4-ways-to-budget-your-money.php /articles/budget-and-goals/4-ways-a-budget-can-help-you-manage-your-money-better
Redirect 301 /articles/budget-and-goals/wasting-food-can-cost-you-money.php /articles/budget-and-goals/dont-waste-food--it-costs-money
Redirect 301 /articles/budget-and-goals/5-ways-to-save-money-on-food-bills.php /articles/budget-and-goals/five-easy-ways-to-save-money-on-food-bills
Redirect 301 /articles/budget-and-goals/5-simple-ways-to-save-1000-this-year.php /articles/budget-and-goals/five-simple-ways-to-save-1000-this-year
Redirect 301 /articles/budget-and-goals/5-steps-to-writing-an-annual-budget.php /articles/budget-and-goals/five-steps-to-writing-an-annual-budget
Redirect 301 /articles/budget-and-goals/how-to-pay-off-your-mortgage-faster.php /articles/budget-and-goals/how-to-pay-off-your-mortgage-faster
Redirect 301 /articles/budget-and-goals/how-to-save-money.php /articles/budget-and-goals/how-to-save-money-by-appreciating-what-you-have
Redirect 301 /articles/budget-and-goals/the-secret-to-saving-money.php /articles/budget-and-goals/niche-spending-the-secret-to-saving-money
Redirect 301 /articles/budget-and-goals/retire-at-60.php /articles/budget-and-goals/retire-abroad-at-55-years-old-and-150000-savings
Redirect 301 /articles/budget-and-goals/15-or-30-year-mortgage.php /articles/budget-and-goals/should-i-do-a-15-year-or-a-30-year-mortgage
Redirect 301 /articles/budget-and-goals/10-easy-ways-to-save-100-fast.php /articles/budget-and-goals/ten-easy-ways-to-save-100-fast
Redirect 301 /articles/budget-and-goals/tips-to-avoid-tax-trouble.php /articles/budget-and-goals/tips-on-how-to-avoid-tax-trouble
Redirect 301 /articles/budget-and-goals/women-and-planning.php /articles/budget-and-goals/women-and-retirement-planning-what-to-do
Redirect 301 /articles/technology/improve-your-computer-security.php /articles/technology/10-actions-you-can-take-right-now-to-improve-your-computer-security
Redirect 301 /articles/technology/15-replacements.php /articles/technology/15-replacements-for-microsoft-money
Redirect 301 /articles/credit/are-there-errors-on-my-credit-report.php /articles/credit-management/are-there-errors-on-my-credit-report
Redirect 301 /articles/credit/how-to-take-control-of-your-credit-rating.php /articles/credit-management/how-to-take-control-of-your-credit-rating
Redirect 301 /articles/credit/credit-ratings-and-their-factors.php /articles/credit-management/credit-ratings-and-their-factors
Redirect 301 /articles/credit/improve-your-life-by-raising-your-credit-score-above-720.php /articles/credit-management/improve-your-life-by-raising-your-credit-score-above-720
Redirect 301 /articles/credit/identity-theft-damage-control.php /articles/credit-management/identity-theft-damage-control
Redirect 301 /articles/credit/why-do-credit-bureaus-report-different-fico-scores.php /articles/credit-management/why-do-credit-bureaus-report-different-fico-scores
Redirect 301 /articles/credit/credit-card-act-of-2009.php /articles/credit-management/credit-card-act-of-2009
Redirect 301 /articles/credit/specialty-consumer-reports.php /articles/credit-management/specialty-consumer-reports
Redirect 301 /articles/credit/10-symptoms-you-are-over-your-head-in-debt.php /articles/credit-management/10-symptoms-that-you-are-over-your-head-in-debt
Redirect 301 /articles/credit/commonly-used-terms.php /articles/credit-management/commonly-used-terms
Redirect 301 /articles/credit/attending-our-free-seminars.php /articles/credit-management/attending-our-free-seminars
Redirect 301 /articles/credit/why-do-we-call-them-credit-cards.php /articles/credit-management/why-do-we-call-them-credit-cards
Redirect 301 /articles/credit/how-to-avoid-foreclosure.php /articles/credit-management/how-to-avoid-foreclosure
Redirect 301 /articles/credit/how-to-obtain-a-credit-report.php /articles/credit-management/how-to-obtain-a-credit-report
Redirect 301 /articles/credit/how-to-read-your-credit-report.php /articles/credit-management/how-to-read-your-credit-report
Redirect 301 /articles/credit/the-facts-on-credit-repair.php /articles/credit-management/the-facts-on-credit-repair
Redirect 301 /articles/credit/top-12-strategies-to-avoid-identity-theft.php /articles/credit-management/top-12-strategies-to-avoid-identity-theft
Redirect 301 /articles/credit/understanding-bankruptcy.php /articles/credit-management/understanding-bankruptcy
Redirect 301 /articles/credit/understanding-credit-cards.php /articles/credit-management/understanding-credit-cards
Redirect 301 /articles/credit/what-to-do-if-you-are-past-due-on-credit-cards.php /articles/credit-management/what-to-do-if-you-are-past-due-on-credit-cards
Redirect 301 /articles/credit/buying-vs-renting.php /articles/credit-management/learn-about-buying-your-fist-home
Redirect 301 /articles/life/6-laws.php /articles/life-management/the-six-laws-of-selffulfillment
Redirect 301 /articles/life/is-it-time-to-reinvent-yourself.php /articles/life-management/is-it-time-to-reinvent-yourself
Redirect 301 /articles/life/fight-stress.php /articles/life-management/fight-stress
Redirect 301 /articles/life/self-improvement.php /articles/life-management/reflection-on-selfimprovement
Redirect 301 /articles/life/overcoming-obstacles.php /articles/life-management/overcoming-obstacles
Redirect 301 /articles/life/effective-decision-making.php /articles/life-management/effective-decision-making
Redirect 301 /articles/life/enjoying-life.php /articles/life-management/enjoying-everyday-life
Redirect 301 /aboutus.php /about-us
Redirect 301 /messagefromdirectors.php /message-from-directors
Redirect 301 /employmentopportunities.php /employment-opportunities
Redirect 301 /howwecanhelpyou.php /how-we-can-help-you
Redirect 301 /debtmanagementprogram.php /debt-management-program
Redirect 301 /seminars.php /seminars
Redirect 301 /freeanalysis.php /free-analysis
Redirect 301 /calculators.php /calculators/
Redirect 301 /learningcenter.php /articles
Redirect 301 /calculators/buy-vs-lease.php /calculators/auto-calculators/buying-vs-leasing
Redirect 301 /calculators/cost-of-debt.php /calculators/credit-card-and-debt-management/cost-of-debt-calculator
Redirect 301 /calculators/how-much-do-you-owe.php /calculators/credit-card-and-debt-management/how-much-do-you-owe
Redirect 301 /calculators/mortgage-qualifier.php /calculators/mortgage-calculators/mortgage-qualifier
Redirect 301 /calculators/rent-vs-buy.php /calculators/mortgage-calculators/rent-vs-buy
Redirect 301 /calculators/arm-vs-fixed.php /calculators/mortgage-calculators/arm-vs-fixed-rate-mortgage
Redirect 301 /calculators/mortgage-comparison.php /calculators/mortgage-calculators/mortgage-comparison-15-vs-30-years
Redirect 301 /calculators/reverse-mortgage.php /calculators/mortgage-calculators/reverse-mortgage-calculator
Redirect 301 /calculators/millionaire.php /calculators/savings-calculators/cool-million
Redirect 301 /calculators/savings-calculator.php /calculators/savings-calculators/savings-calculator
Redirect 301 /calculators/savings-goals.php /calculators/savings-calculators/savings-goals
Redirect 301 /calculators/home-budget-analysis.php /calculators/personal-finance/home-budget-analysis
Redirect 301 /calculators/retirement-planner.php /calculators/retirement-savings-and-planning/retirement-planner
Redirect 301 /calculators/roth-or-traditional.php /calculators/retirement-savings-and-planning/roth-or-traditional-401k
Redirect 301 /calculators/roth-or-traditional2.php /calculators/retirement-savings-and-planning/roth-ira-or-traditional-ira
Redirect 301 /videos.php /videos
Redirect 301 /videos/radio-caracol-fair-2013.php /videos/miscellaneous/radio-caracol-fair-2013
Redirect 301 /videos/save-money-love-life.php /videos/univision-seminars/save-money-the-easy-way-and-loving-life
Redirect 301 /videos/credit-below-600.php /videos/univision-seminars/save-money-the-easy-way-and-loving-life
Redirect 301 /videos/stolen-identity.php /videos/univision-seminars/identity-stolen-what-to-do-and-how-to-avoid
Redirect 301 /outsideresources.php /outside-resources
Redirect 301 /faq.php /frequently-asked-questions
Redirect 301 /contactus.php /contact-us
Redirect 301 /survey.php /satisfaction-survey
Redirect 301 /privacy.php /privacy-policy
Redirect 301 /terms.php /terms-and-conditions
Redirect 301 /quizzes/index.php /quizzes
Redirect 301 /quizzes/quiz-10.php /quizzes
Redirect 301 /quizzes/niche-spending.php /quizzes
Redirect 301 /quizzes/taxes.php /quizzes
Redirect 301 /quizzes/credit-report.php /quizzes
Redirect 301 /quizzes/mortgage.php /quizzes
Redirect 301 /quizzes/retire-abroad.php /quizzes
Redirect 301 /quizzes/quiz-2-2.php /quizzes
Redirect 301 /quizzes/quiz-2-1.php /quizzes
Redirect 301 /quiz-1-2.php /quizzes
Redirect 301 /quizzes/quiz-1-1.php /quizzes

RewriteRule ^livesupport - [L,NC]

# Always use www in the domain
# Replace 'example.com' with your domain name
RewriteEngine on
RewriteBase /
#RewriteCond %{HTTP_HOST} ^([a-z.]+)?2prevue.com$ [NC]
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule .? http://www.$1premierconsumer.2prevue.com%{REQUEST_URI} [R=301,L]

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^([^/.]*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^([^/]*)/([^/.]*)$ /index.php?section=$1&page=$2 [L,QSA]
RewriteRule ^([^/]*)/([^/]*)/([^/.]*)$ /index.php?section=$1&category=$2&page=$3 [L,QSA]
RewriteRule ^(downloads)/([^/]*)/([^/]*)/([^/.]*)$ /downloads/index.php?section=$2&category=$3&page=$4 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##