/******** NOTES
Leaves Theme Style
*/

* { margin: 0; }
html, body { margin: 0px; font-family: Arial; font-size: 12px; color: #EBFFD1; background: #EF8B18; height: 100%; width: 100%; overflow: hidden; }

a:link, .alink{color: #B81E01; }
a:active{color: #B81E01; }
a:visited{color: #B81E01; }
a:hover{color: #C53500; }
.alink{ text-decoration: underline; cursor: pointer; }
.nounder{ text-decoration: none; cursor: pointer; }

.online{ background: #C2FF91; }
.offline{ background: #FFC4BC; }

.text_trans_view_td{ }

.co, .cv, .ca, .cl, .cn, .cc{ padding: 5px; }
.co{ background: url(chat_co.png) no-repeat; background-position: 0px 5px; padding-left: 20px; color: #7A7B49; }
.cv{ background: url(chat_cv.png) no-repeat; background-position: 0px 5px; padding-left: 20px; color: #2A2A2A; }
.ca{ margin-bottom: 5px; }
.cl{ background: #E3D8B7; border: 1px solid #DCD1B1; margin-bottom: 5px; }
.cn{ background: #E3D8B7; border: 1px solid #DCD1B1; margin-bottom: 5px; }
.ctitle{ font-size: 14px; font-weight: bold; }
.ct{ font-weight: normal; font-size: 10px; } /* timestamp */

#chat_logo{ background: transparent; }
#chat_options{ background: #DFD5AA; color: #7A7B49; border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; border-bottom-right-radius: 10px 10px; -moz-border-radius-bottomright: 10px 10px; }
#chat_vname, #chat_vtimer, #chat_vistyping, #chat_settings{ font-weight: bold; }
#chat_vtimer{ padding: 2px; }

.profile_pic_img{ -moz-border-radius: 10px; border-radius: 10px; }
#chat_profile_pic{ padding: 5px; color: #676464; background: #E3E4CB; border: 1px solid #D1D2BB; opacity: 0.9; filter: alpha(opacity=90); }

#chat_canvas{ background: url( bg_chat.jpg?1 ) no-repeat; background-size: cover; background-position: top right; border-top: 0px; }
.chat_canvas_op{ background-position: 0px 19px; }
.chat_canvas_alert{ background: #E86E08 !important; }
#chat_switchboard{ background: transparent; border-bottom: 1px solid transparent; }
.chat_switchboard_cell, .chat_switchboard_cell_focus, .chat_switchboard_cell_bl_red, .chat_switchboard_cell_bl_green{ padding: 5px; }
.chat_switchboard_cell{ background: #F59519; color: #A0300D; border: 1px solid transparent; border-top: 0px; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_focus{ background: #FEE06B; color: #E54F13; border: 1px solid #FD961D; border-top: 0px; font-weight: bold; margin-right: 5px; }
.chat_switchboard_cell_bl_red{ background: #FF7676; color: #FFE5E5; border: 1px solid transparent; border-top: 0px; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_bl_green{ background: #D4FFD4; color: #7E987E; border: 1px solid transparent; border-top: 0px; font-weight: bold; margin-right: 5px; cursor: pointer; }

input[type=text], .input_text, #input_text, select, textarea, .info_box, .info_error, .info_good, .info_warning, .info_neutral, .info_content, .info_focus, .page, .page_focus, #reconnect_notice, .sound_box_on, .sound_box_off, #div_new_canned, #chat_footer_traffic_counter, .co, .cv, .ca, .cl, .cn, .cc, .ctitle, .ct, #chat_vtimer, #table_info, #chat_profile_pic, .profile_pic_img, .round, .t_mm, #chat_panel, #chat_status_offline{ -moz-border-radius: 10px; border-radius: 10px; }
.chat_info_menu, .chat_info_menu_focus, .chat_info_menu_hover, .chat_info_td_t, .chat_footer_cell, .chat_footer_cell_focus, #chat_body{ border-top-left-radius: 10px 10px; -moz-border-radius-topleft: 10px 10px; border-top-right-radius: 10px 10px; -moz-border-radius-topright: 10px 10px; }
.chat_switchboard_cell, .chat_switchboard_cell_focus, .chat_switchboard_cell_bl_green, .chat_switchboard_cell_bl_red{ border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; border-bottom-right-radius: 10px 10px; -moz-border-radius-bottomright: 10px 10px; }
.noround{ -moz-border-radius: 0px; border-radius: 0px; }



.chat_info_wrapper{ }
#chat_info_header{ color: #F9F1CE; padding: 3px; }
#chat_info_menu_list{ border-bottom: 0px solid; }
.chat_info_menu{ float: left; padding: 5px; margin-right: 5px; color: #C41B00; background: #F88616; border: 1px solid transparent; border-bottom: 1px solid transparent; cursor: pointer; }
.chat_info_menu_hover, .chat_info_menu_focus{ float: left; padding: 5px; margin-right: 5px; color: #DD3F08; background: #FDBD4E; border: 1px solid transparent; cursor: pointer; }
#chat_info_body{ padding: 5px; padding-left: 0px; background: #FDBD4E; color: #D63502; opacity: 0.8; filter: alpha(opacity=80); border-left: 1px solid transparent; border-right: 1px solid transparent; border-top-right-radius: 10px 10px; -moz-border-radius-topright: 10px 10px; border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; border-bottom-right-radius: 10px 10px; -moz-border-radius-bottomright: 10px 10px; }
.chat_info_td_t{ padding: 5px; background: #FAAA2F; color: #F9F1CE; font-weight: bold; margin-right: 1px; } /* for general info td title */
.chat_info_td_h{ padding: 5px; padding-left: 0px; } /* used for td title */
.chat_info_td{ background: transparent; padding: 5px; border-bottom: 1px solid transparent; }
.chat_info_td_traffic{ padding: 5px; }
.chat_info_td_traffic_info{ padding: 5px; background: transparent; font-weight: bold; }
.chat_info_td_traffic_img{ background: #FAAA2F; }
.chat_info_td_blank{ padding: 5px; }
.chat_info_end{ height: 1px; }
.chat_info_tr_traffic_row{ background: transparent; }

.chat_info_link{ cursor: pointer; }

/* for #chat_body don't go past 10px padding or layout error */
#chat_body{ color: #676464; background: #E3E4CB; border: 1px solid #D1D2BB; opacity: 0.9; filter: alpha(opacity=90); padding: 25px; }
#chat_button_start{ }

#chat_text_header{ font-size: 18px; font-weight: bold; }
#chat_text_header_sub{ }
#chat_text_powered{ color: #676464; }
#chat_text_login{ }

#chat_embed_header{ background: transparent; border-top: 1px solid transparent; }
#chat_embed_title{ padding: 5px; color: #D9DFBF; font-weight: bold; }

#chat_footer{ background: transparent; border-top: 1px solid transparent; }
.chat_footer_cell{ float: left; padding: 10px; font-weight: bold; background: #D94801; border: 1px solid #ED640F; border-bottom: 0px solid; cursor: pointer; }
.chat_footer_cell_focus{ float: left; color: #DD3F08; background: #F2CC60; border: 1px solid #DE8721; border-bottom: 0px solid; padding: 10px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_noclick{ float: left; padding: 10px; padding-right: 3px; padding-left: 3px; }
#chat_footer_traffic_counter{ padding: 2px; color: #6E3B00; background: #FFFFFF; border: 1px solid transparent; }
#chat_extra_wrapper{ background: #F88F1A; }
#chat_extra_title{ background: #FFFFE1; color: #8D90A8; border-top: 1px solid #BDBDA7; border-bottom: 1px solid #EF8B18; }

.rating_title{ }
.marquee{ }

.info_box{ background: #E3D8B7; border: 1px solid #DCD1B1; padding: 5px; color: #676464; }
.info_error{ background: #F55054; border: 1px solid #BA3D40; padding: 5px; color: #FFFFFF; }
.info_good{ background: #43CB00; border: 1px solid #36A400; padding: 5px; color: #FFFFFF; }
.info_neutral{ background: #E3D8B7; border: 1px solid #DCD1B1; color: #676464; padding: 5px; }
.info_warning{ background: #FFE8C4; border: 1px solid #E1CDAD; padding: 5px; color: #5A5245; }
.info_content{ background: #FD810D; border: 1px solid transparent; padding: 5px; }
.info_clear{ background: transparent; border: 1px solid transparent; padding: 5px; }
.info_focus{ border: 2px solid #AE3F0A; }

#table_info{ background: #F99828; border: 1px solid #EB8F26; padding: 5px; opacity: 0.9; filter: alpha(opacity=90); }

.sound_box_on{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.sound_box_off{ background: #F55054; padding: 5px; color: #FFFFFF; }
#div_new_canned{ background: #FBF7B4; padding: 5px; color: #806732; }

.info_disconnect{ padding: 3px; background: #EC5C66; color: #FFFFFF; border: 1px solid #DD5B5D; border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; cursor: pointer; }
.info_disconnect_hover{ padding: 3px; background: #D15658; color: #FFFFFF; border: 1px solid #DD5B5D; border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; cursor: pointer; }

/* canned messages related */
#chat_panel{ }
.chat_cans_text_new{ font-size: 10px; }
#canned_wrapper, #canned_box_new, #footprint_info_wrapper{ background: url( bg_chat.jpg?1 ) no-repeat; background-size: cover; background-position: top right; padding: 10px; }
#canned_box_new{ padding: 15px; }
#canned_box_oc{ width: 110px; text-align: center; }
#canned_select{ font-size: 10px; border: 1px solid #87AB4B; }
#canned_select_btn{ font-size: 10px; margin-top: 5px; }

/* status related */
#chat_status{ }
#chat_status_offline{ background: #D43708; color: #FFFFFF; }
#chat_status_offline_text{ background: #A41C00; color: #E5E2C0; }
#chat_status_logout{ background: #D43708; width: 100%; }

#chat_info_wrapper_network{ opacity:0.7; filter:alpha(opacity=70); }
#chat_network{ border-left: 1px dotted transparent; }
#chat_network_img{ background: url( network.png ) no-repeat; }

/* page related *****/
.page_top_wrapper{ margin-bottom: 15px; }
.page_bottom_wrapper{ margin-top: 15px; }
.page, .page_focus{ float: left; padding: 2px; padding-left: 5px; padding-right: 5px; margin-right: 10px; }
.page{ font-weight: bold; background: transparent; border: 1px solid transparent; cursor: pointer; }
.page_focus{ background: #FAAA2F; border: 1px solid transparent; }
/* end page related */

.t_tl{ background: transparent; width: 5px; height: 5px; }
.t_tm{ background: transparent; height: 5px; }
.t_tr{ background: transparent; width: 5px; height: 5px; }
.t_ml{ background: transparent; width: 5px; }
.t_mr{ background: transparent; width: 5px; }
.t_bl{ background: transparent; width: 5px; height: 5px; }
.t_bm{ background: transparent; height: 5px; }
.t_br{ background: transparent; width: 5px; height: 5px; }
.t_mm{ background: #F07823; opacity: 0.8; filter: alpha(opacity=80); padding: 10px; }

#input_text, .input_text, .input_text_search{ color: #676464; background: #DFD5AA; border: 1px solid #D3D4B3; padding: 5px; opacity: 0.9; filter: alpha(opacity=90); }
select{ background: #D3D4B3; border: 1px solid #D3D4B3; padding: 5px; opacity: 0.9; filter: alpha(opacity=90); }
#input_btn{ width: 104px; height: 45px; padding: 6px; font-size: 14px; font-weight: bold; }
.input_timer{ color: #676464; background: #DFD5AA; padding: 2px; border: 0px; }
.vcomment{ background: #D7CCAD !important; }

#btn_initiate{ }

.menu_traffic_info, .menu_traffic_info_focus{ padding: 5px; margin-right: 5px; float: left; cursor: pointer; border-top-left-radius: 10px 10px; -moz-border-radius-topleft: 10px 10px; border-top-right-radius: 10px 10px; -moz-border-radius-topright: 10px 10px; }
.menu_traffic_info{ background: #E0510E; color: #F9F1CE; font-weight: bold; }
.menu_traffic_info_focus{ font-weight: bold; border: 1px solid #E96C15; border-bottom: 0px; }
#chat_widget_options{ color: #676464; background: #D8DADF; padding: 5px; border-top-right-radius: 10px 10px; -moz-border-radius-topright: 10px 10px; }

table tr:first-child td:first-child { border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; }
table tr:first-child td:last-child { border-top-right-radius: 10px; -moz-border-radius-topright: 10px; }
table tr:last-child td:first-child { border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; }
table tr:last-child td:last-child { border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; }
