/******** NOTES
Whiteout Theme Style
*/

* { margin: 0; }
html, body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12px; color: #686868; background: #FDFDFD; height: 100%; width: 100%; overflow: hidden; }

a:link, .alink{color: #A0A0A0; }
a:active{color: #A0A0A0; }
a:visited{color: #A0A0A0; }
a:hover{color: #686868; }
.alink{ text-decoration: underline; cursor: pointer; }
.nounder{ text-decoration: none; cursor: pointer; }

.online{ background: #C2FF91; }
.offline{ background: #FFC4BC; }

.text_trans_view_td{ color: #949494; }

.co, .cv, .ca, .cl, .cn, .cc{ padding: 5px; }
.co{ background: url(chat_co.png) no-repeat; padding-left: 20px; color: #7F8BC0; }
.cv{ background: url(chat_cv.png) no-repeat; padding-left: 20px; color: #2F2F2F; }
.ca{ background: transparent; color: #737373; margin-bottom: 5px; }
.cl{ background: #EFEFF1; color: #939393; margin-bottom: 5px; }
.cn{ background: #EFEFF1; color: #939393; margin-bottom: 5px; }
.ctitle{ font-size: 14px; font-weight: bold; }
.ct{ font-weight: normal; font-size: 10px; } /* timestamp */

#chat_logo{ background: #FFFFFF; }
#chat_vname, #chat_vtimer, #chat_vistyping, #chat_settings{ color: #686868; }

.profile_pic_img{ -moz-border-radius: 10px; border-radius: 10px; }
#chat_profile_pic{ }

#chat_canvas{ background: #FFFFFF; border-top: 1px solid #E5E5E7; }
.chat_canvas_op{ background-position: 0px 19px; }
.chat_canvas_alert{ background: #CFCFD1 !important; }
#chat_switchboard{ }
.chat_switchboard_cell, .chat_switchboard_cell_focus, .chat_switchboard_cell_bl_red, .chat_switchboard_cell_bl_green{ padding: 5px; }
.chat_switchboard_cell{ color: #929292; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_focus{ background: #F5F5F5; border: 1px solid #CACACA; border-top: 0px solid; color: #646464; font-weight: bold; margin-right: 5px; }
.chat_switchboard_cell_bl_red{ background: #FF7676; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_bl_green{ background: #17C61B; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }

input[type=text], .input_text, #input_text, select, textarea, #chat_body, .info_box, .info_error, .info_good, .info_warning, .info_neutral, .info_content, .info_focus, .page, .page_focus, #reconnect_notice, .sound_box_on, .sound_box_off, .chat_footer_cell_focus, .co, .cv, .ca, .cl, .cn, .cc, .ctitle, .ct, #div_new_canned, .round, #chat_footer_traffic_counter, #chat_status_offline{ -moz-border-radius: 10px; border-radius: 10px; }
.chat_info_menu, .chat_info_menu_focus, .chat_info_menu_hover, .chat_info_td_t{ border-top-left-radius: 10px 10px; -moz-border-radius-topleft: 10px 10px; border-top-right-radius: 10px 10px; -moz-border-radius-topright: 10px 10px; }
.chat_switchboard_cell, .chat_switchboard_cell_focus, .chat_switchboard_cell_bl_green, .chat_switchboard_cell_bl_red{ border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; border-bottom-right-radius: 10px 10px; -moz-border-radius-bottomright: 10px 10px; }
.noround{ -moz-border-radius: 0px; border-radius: 0px; }



.chat_info_wrapper{ }
#chat_info_header{ color: #FFFFFF; padding: 3px; }
#chat_info_menu_list{ border-bottom: 1px solid #F0F0F2; }
.chat_info_menu{ float: left; color: #9C9C9C; padding: 5px; margin-right: 5px; background: #FDFDFD; border-top: 1px solid #F0F0F2; border-left: 1px solid #F0F0F2; border-right: 1px solid #F0F0F2; cursor: pointer; }
.chat_info_menu_hover, .chat_info_menu_focus{ position: relative; bottom: -1px; float: left; color: #888888; text-shadow: #F8F8FA -1px 1px; padding: 5px; margin-right: 5px; background: #F5F5F5; border-top: 1px solid #E9E9E9; border-left: 1px solid #E9E9E9; border-right: 1px solid #E9E9E9; cursor: pointer; }
#chat_info_body{  }
.chat_info_td_t{ padding: 5px; background: #EFEFEF; font-weight: bold; margin-right: 1px; } /* th header */
.chat_info_td_h{ background: #FFFFFF; color: #AEAEAE; padding: 5px; border-bottom: 1px solid #F0F0F2; } /* info th */
.chat_info_td{ background: #F7F7F7; padding: 5px; border-bottom: 1px solid #F0F0F2; }
.chat_info_td_traffic{ padding: 5px; }
.chat_info_td_traffic_info{ padding: 5px; background: #FFFFFF; font-weight: bold; }
.chat_info_td_traffic_img{ background: #E2E9EF; }
.chat_info_td_blank{ padding: 5px; }
.chat_info_end{ height: 1px; }
.chat_info_tr_traffic_row{ background: #F0F0F0; }

.chat_info_link{ cursor: pointer; }

/* for #chat_body don't go past 10px padding or layout error */
#chat_body{ background: #FFFFFF; color: #686868; border: 1px solid transparent; padding: 25px; }
#chat_button_start{ }

#chat_text_header{ font-size: 18px; font-weight: bold; }
#chat_text_header_sub{ }
#chat_text_powered{ }
#chat_text_login{ }

#chat_embed_header{ background: #F7F7F7; border-top: 1px solid #E5E5E7; color: #2F2F2F; }
#chat_embed_title{ padding: 5px; color: #333333; font-weight: bold; text-align: center; }

#chat_footer{ background: #F7F7F7; border-top: 1px solid #E5E5E7; color: #2F2F2F; }
.chat_footer_cell{ float: left; padding: 10px; font-weight: bold; color: #888888; text-shadow: #FFFFFF -1px 1px; cursor: pointer; }
.chat_footer_cell_focus{ float: left; background: #E2E2E2; padding: 10px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_noclick{ float: left; padding: 10px; padding-right: 3px; padding-left: 3px; }
#chat_footer_traffic_counter{ padding: 2px; background: #FFFFFF; border: 1px solid transparent; color: #2F2F2F; }
#chat_extra_wrapper{ background: #FFFFFF; }
#chat_extra_title{ background: #FFFFFF; color: #909090; border-top: 1px solid #EFEFEF; border-bottom: 1px solid #EFEFEF; }

.rating_title{ color: #686868 }
.marquee{ color: #646464; text-shadow: #FFFFFF -1px 1px; }

.info_box{ background: #F7F7F7; border: 1px solid #F0F0F2; padding: 5px; color: #939393; }
.info_error{ background: #F67975; padding: 5px; color: #FFFFFF; }
.info_good{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.info_neutral{ background: #FAFAFA; padding: 5px; color: #6D6D71; }
.info_warning{ background: #FFE8C4; padding: 5px; color: #5A5245; }
.info_content{ background: #F0F0F0; padding: 5px; color: #5A5245; border: 1px solid #DFDFDF; }
.info_clear{ background: transparent; border: 1px solid transparent; padding: 5px; }
.info_focus{ border: 2px solid #CFCFCF; }

.sound_box_on{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.sound_box_off{ background: #F55054; padding: 5px; color: #FFFFFF; }
#div_new_canned{ background: #FBF7B4; padding: 5px; color: #806732; }

.info_disconnect{ padding: 3px; background: #EC5C66; color: #FFFFFF; border: 1px solid #DD5B5D; border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; cursor: pointer; }
.info_disconnect_hover{ padding: 3px; background: #D15658; color: #FFFFFF; border: 1px solid #DD5B5D; border-bottom-left-radius: 10px 10px; -moz-border-radius-bottomleft: 10px 10px; cursor: pointer; }

/* canned messages related */
.chat_cans_text_new{ font-size: 10px; }
#canned_wrapper, #canned_box_new, #footprint_info_wrapper{ background: #FDFDFD; padding: 10px;}
#canned_box_new{ padding: 15px; }
#canned_box_oc{ width: 110px; text-align: center; }
#canned_select{ font-size: 10px; border: 1px solid #C5C5C5; }
#canned_select_btn{ font-size: 10px; margin-top: 5px; }

/* status related */
#chat_status{ }
#chat_status_offline{ background: #FF9C9C; }
#chat_status_offline_text{ background: #FFFFFF; color: #E58989; }
#chat_status_logout{ background: #FF9C9C; width: 100%; }

#chat_info_wrapper_network{ opacity:0.7; filter:alpha(opacity=70); }
#chat_network{ border-left: 1px dotted transparent; }
#chat_network_img{ background: url( network.png ) no-repeat; }

/* page related *****/
.page_top_wrapper{ margin-bottom: 15px; }
.page_bottom_wrapper{ margin-top: 15px; }
.page, .page_focus{ float: left; padding: 2px; padding-left: 5px; padding-right: 5px; margin-right: 10px; }
.page{ border: 1px solid #F4F4F4; background: #F7F7F7; color: #686868; cursor: pointer; }
.page_focus{ font-weight: bold; border: 1px solid #F0F0F0; background: #FFFFFF; }
/* end page related */

.t_tl{ background: #FDFDFD; width: 5px; height: 5px; }
.t_tm{ background: #FDFDFD; height: 5px; }
.t_tr{ background: #FDFDFD; width: 5px; height: 5px; }
.t_ml{ background: #FDFDFD; width: 5px; }
.t_mr{ background: #FDFDFD; width: 5px; }
.t_bl{ background: #FDFDFD; width: 5px; height: 5px; }
.t_bm{ background: #FDFDFD; height: 5px; }
.t_br{ background: #FDFDFD; width: 5px; height: 5px; }
.t_mm{ background: #FDFDFD; padding: 10px; }

#input_text, .input_text, .input_text_search{ background: #FFFFFF; border: 1px solid #E5E5E7; padding: 5px; }
select{ border: 1px solid #E5E5E7; padding: 5px; }
#input_btn{ width: 104px; height: 45px; padding: 6px; font-size: 14px; font-weight: bold; }
.input_timer{ background: #FFFFFF; color: #686868; border: 0px; padding: 2px; }

#btn_initiate{  }

.menu_traffic_info, .menu_traffic_info_focus{ padding: 5px; margin-right: 5px; float: left; cursor: pointer; border-top-left-radius: 10px 10px; -moz-border-radius-topleft: 10px 10px; border-top-right-radius: 10px 10px; -moz-border-radius-topright: 10px 10px; }
.menu_traffic_info{ background: #EFEFEF; color: #9C9C9C; font-weight: bold; }
.menu_traffic_info_focus{ font-weight: bold; border: 1px solid #EFEFEF; border-bottom: 0px; }
#chat_widget_options{ color: #676464; background: #D8DADF; padding: 5px; border-top-right-radius: 10px 10px; -moz-border-radius-topright: 10px 10px; }

table tr:first-child td:first-child { border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; }
table tr:first-child td:last-child { border-top-right-radius: 10px; -moz-border-radius-topright: 10px; }
table tr:last-child td:first-child { border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; }
table tr:last-child td:last-child { border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; }
